{% extends "sales/pdf/pdf_base.html" %}


{% block content %}

{% if invoice.status == "Paid" %}
<div class="watermark">PAID</div>
{% endif %}

<p><strong>Invoice No:</strong> {{ invoice.number }}</p>
<p><strong>Customer:</strong> {{ invoice.customer.name }}</p>
<p><strong>Date:</strong> {{ invoice.date }}</p>
<p><strong>Status:</strong> {{ invoice.status }}</p>

<table>
    <tr>
        <th>Product</th>
        <th>Qty</th>
        <th>Unit Price</th>
        <th>Total</th>
    </tr>

    {% for item in invoice.items.all %}
    <tr>
        <td>{{ item.product.name|default:"Deleted Product" }}</td>
        <td>{{ item.quantity }}</td>
        <td>P{{ item.price }}</td>
        <td>P{{ item.line_total }}</td>
    </tr>
    {% endfor %}
</table>

<div class="total-box">
    Total: P{{ invoice.total_amount }}<br>
    Received: P{{ invoice.amount_received }}<br>
    Balance: P{{ invoice.balance_due }}
</div>

{% endblock %}
